body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  #search, #playlist {
    margin-bottom: 20px;
  }
  
  #search input, #search button {
    padding: 10px;
    margin-right: 10px;
  }
  /* Footer styles */
  footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .lo  {
    height: 7.5rem; /* Adjust height as needed */
    margin-right: 1px; /* Optional margin for spacing */
    float: left;
    width: 10rem;
  }